<div class="button-container"> 
  <% cache("team-count") do %>
    <% @teams.each do |team| %>
      <%= link_to "#{team.name}", "/soccer/team/#{team.id}", method: :get %><br>
      <%= image_tag "#{team.logo}"%><br><br>
    <% end %>
  <% end %>
</div>