<div class="soccer_index_container"> 
  <% cache("team-count") do %>
    <div class="team-grid">
      <% @teams.each do |team| %>
        <div class="team">
          <%= button_to "/soccer/team/#{team.id}", method: :get, class: "team-button" do %>
            <%= image_tag "#{team.logo}"%><br>
            <span class="team-name"><%= team.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>



